#get-start {
    background: #2290c9;
    color: #fff;
    text-align: center;
    padding: 10%;
    span.mysize {
            font-size: 5em;
    }
    h2 {
        margin-top: 0;
    }
    legend {
        margin-top: 20px;
    }
    p {
        line-height: 1.6;
    }
}